@import 'variables';
@import 'mixins';
@import 'fonts';

body {
    overflow-x: hidden;
}

.width-10 {
    width: 10%;
}

.width-40 {
    width: 40%;
}

h1 {
    @include title-fonts-property;
}

h5 {
    @include title-fonts-property;
    font-size: 88px;
    color: #2c3e50;
    letter-spacing: 2px;
}

p {
    @include body-font-property;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: justify;
    color: #34495e;
}

.large-fancy-font {
    @include title-fonts-property;
    font-size: 45px;
}

.main-container {
    position: relative;
    padding: 0px;
}

.background {
    position: relative;
}


.character {
    overflow: hidden;
    article {
        position: absolute;
        top: 0%;
        right: 7%;
        left: 54%;
    }

    .character-img {
        position: absolute;
        top: 0%;
        right: 50%;
    }

}

.title-container {
    margin-bottom: 20px;
}

.content-filter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;

    li {

        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        filter: grayscale(100%);


    }

    li.active {
        filter: grayscale(0%) !important;
    }

}

.marvel{
    background-color:rgba(228, 46, 56, 0.72);
}

.dc{
    background-color: #3498dbd6;
}

.marvel-icon,
.dc-icon {
    cursor: pointer;

    img {
        padding-bottom: 15px;
    }
}

.logo-section {
    padding-bottom: 10px;
}

.owl-nav {

    position: absolute;
    top: 45%;
    left: 45%;

    .owl-prev {
        width: 67px;
        height: 59px;
        background: url('/img/arrow-left.png') left top no-repeat;
    }

    .owl-next {
        width: 52px;
        height: 53px;
        background: url('/img/arrow-right.png') left top no-repeat;
    }

}


.characterSlide{

    .owl-item {
        img {
            width: auto !important;
        }
    }
    
    .owl-dots {
        width: 35%;
        position: absolute;
        top: 30%;
        left: 4%;

        .owl-dot {
            background: #3498db;
            width: 45px;
            height: 45px;
            border-radius: 30px;
            text-align: center;
            margin-bottom: 10px;
            border: 2px solid white;
            display: block;
            color: white;
            @include body-font-property;
        
            h6 {
                display: none;
            }
        
        }

        .active {
            background: #004E92;
            width: auto;
            height: 45px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
        
            h6 {
                display: block;
            }
        
            span {
                display: none;
            }
        }


    }
    

}



