/**FONTS**/
$font-path: '../fonts';
$title-font:Helsinki;
$title-font-name:helsinki-webfont;
$text-font-regular:Titillium Regular;
$text-font-regular-name:titilliumweb-regular;

/**COLOURS**/
$color-1:#2187DF;
$color-2: #01975A;
$color-3: #192237;
$color-4: #832A64;
$color-5: #FFFFFF;
$color-6: rgba(245, 245, 245, 0.82);
$color-7:rgba(0, 0, 0, 0.459);
$color-8: #B90833;
$color-9: #000000;
$color-10:#000428;
$color-11:#004E92;
$color-12:#2193B0;
$color-13:#004E92;